body{
  background-color: rgb(249, 249, 249);
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.checkbox-container{
  display: flex;
  justify-content: space-between;
}

.title{
  text-align: center;
  margin-top: 20px;
}

.checkbox{
  padding: 15px;
}

.checkbox-input:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}

table {
  text-align: center;
  table-layout: fixed;
  width: 800px;
  border-collapse: collapse;
  border-radius: 15px;
}

th{
  font-size:larger;
}

th, td {
  text-align: center;
  padding: 10px;
}

.btn {
  font-weight: 900;
  margin-left: 5px;
  background: rgb(249, 249, 249);
  padding: 5px;
  color: black;
  border-style: none;
}

.btn:hover{
  cursor: pointer;
  border-bottom: 1px solid black;
}

